<%- include('header') -%>

<div class="container w-30 border py-5 text-center ">
    <h2>Your data..</h2>
    <p></p>
   
    <% if(users!="") {%>
      <table class="table ">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Email</th>
            <th scope="col">Delete</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            
          </tr>
        </thead>
        <tbody>
            <% users.forEach((row , index) =>{ %>
              <tr>
                <td><%= index %></td>
                <td><%= row.name %></td>
                <td><img src="<%= row.image %>" width="100px"  class="img-thumbnail" /></td>
                <td><%= row.email %></td>
                <td id="<%= row._id %>"><a href="search/<%= row._id %>" type="button" class="btn btn-primary"/>View</a></td>
                <td id= "<%= row._id %>"><a href="delete/<%= row._id %>" type="button" class="btn btn-primary"/>Delete</a></td>
                <td id= "<%= row._id %>"><a href="edit/<%= row._id %>" type="button" class="btn btn-primary"/>Edit</a></td>
              
              </tr>
                
           <% }) %>
    
         
        </tbody>
      </table>
    <% } else {%>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>No Data</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%} %>

</div>

<%- include('footer') -%>
