<%- include('header') -%>

<div class="text-center center" style="margin-top: 50px;"><h2>View Data</h2></div>
<p></p>
<div class="container w-25 border py-5 text-center">
   

    <div class="card text-center" style="width: 18rem;">
      <img src="/<%= users.image %>" height="300px"  class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title"><%= users.name %></h5>
          <h6 class="card-title"><%= users.email %></h6>
          
        </div>
      </div>

</div>



<%- include('footer') -%>

